body {
  padding: 2em 0;
}

.main {
  width: 75%;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

header {
  margin-bottom: 3em;
}

.location-picker__container {
  position: absolute;
  left: 25px;
  top: 25px;
}

select {
  width: 50%;
}
